html, body, canvas {
	margin: 0;
	border: 0;
	padding: 0;
	outline: 0;
	background: transparent;

	font: inherit;
	color: inherit;
	text-align: center;
	text-decoration: none;
}

html, body {
	height: 100%;
}

canvas {
	display: block;
}
